/* Estilos da seção inicial (logo e introdução) */
.inicio {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    padding: 70px;
    padding-bottom: 40px; 
    background-image: linear-gradient(#fff 70%,#fce7e7);
    align-items: center;
    margin-bottom: 80px;
}

/* Estilos do container do logo na seção inicial */
.logo-inicio img {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    margin: 0 auto; 
}

/* Estilos da seção de introdução */
.intro {
    text-align: justify;
}

/* Estilos do botão "Saiba mais" */
.saiba-mais {
    background-color: #6C2D2D; 
    color: white;
    padding: 10px; 
    border: none; 
    cursor: pointer ;
    border-radius: 5px; 
    list-style: none; 
}

/* Estilos do link dentro do botão "Saiba mais" */
.saiba-mais a {
    text-decoration: none; 
    color: #ffffff; 
}

/* Estilos da seção de objetivos */
.objetivos h2 {
    margin-top: 20px; 
    color: #6C2D2D; 
    text-align: center;  
}

/* Estilos do container dos cards de objetivos */
.cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px; 
}

/* Estilos de cada card de objetivo */
.card {
    background-color: #6C2D2D; 
    color: white;
    padding: 15px; 
    border-radius: 10px; 
    width: 100%; 
    max-width: 300px; 
    text-align: center;
}

/* Estilos da imagem dentro de cada card */
.card img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
}

@media (max-width: 768px) {
    .inicio {
        grid-template-columns: 1fr; 
        background-image: linear-gradient(#ffffff 80%,#fce7e7);
    }
    .logo-inicio img {
        margin-left: 0;
    }
    .logo{
        width: 35%;
    }
}