
.curiosidades {
    background-color: #fff;
    padding: 30px; 
    border-radius: 8px;
    box-shadow: 0 3px 5px rgb(134, 8, 8);
    max-width: 80%;
    margin: 20px auto;
}

.curiosidades h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.item-curiosidade {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #f1cfcf;
    border-radius: 6px;
    gap: 20px; 
}

.imagem-curiosidade {
    width: 250px; 
    height: 180px; 
    border-radius: 6px;
    object-fit: cover;
    flex-shrink: 0;
}

.conteudo-curiosidade {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    min-width: 0; 
}

.conteudo-curiosidade h2 {
    margin-top: 0;
}

.conteudo-curiosidade p {
    color: #777;
    font-size: 0.9em;
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: justify;
}

.saiba-mais {
    background-color: #6C2D2D;
    color: #fff;
    padding: 8px 20px; 
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 10px; 
    align-self: flex-start; 
    white-space: nowrap;
}

.saiba-mais:hover {
    background-color: #ad3c3c;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .curiosidades {
        padding: 15px; 
        max-width: 95%; 
    }

    .item-curiosidade {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        gap: 15px;
    }

    .imagem-curiosidade { 
        width: 80%;   
        max-width: 320px;
        height: auto; 
        margin-right: 0; 
    }

    .conteudo-curiosidade {
        text-align: center; 
        width: 100%; 
    }
    
    .conteudo-curiosidade p {
        text-align: justify;
    }

    .saiba-mais {
        margin-top: 15px;
        width: fit-content; 
        padding: 10px 25px;
    }

    .menu {
        display: none;
    }
    .hamburger {
        display: flex;
        position: relative;
        z-index: 11;
        flex-direction: column;
        align-items: flex-end;
    }
    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 3px 0;
        transition: background-color 0.3s ease;
    }
    .mobile-menu {
        top: 13%;
        right: 20px;
        padding-top: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media (min-width: 769px) {
    .mobile-menu{
        display: none;
    }
}
